/* table{
            width: 40%;
            border-collapse: collapse;
            margin: 20px 0;

        }
        th,td{
            border: 1px solid #d41111;
            padding: 8px;
            text-align: center;
        }
        th{
            background-color: #54408a;
        }

#chart_div{
   
  
}
#contenedor{
    background-color: rgb(240, 232, 232);
    display:flex;
    align-content: left;
    
} */

body {
    font-family: sans-serif;
    background-color: #f0fff0; /* Verde claro para el fondo */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th,
td {
    border: 1px solid #c8e6c9; /* Borde de tabla verde claro */
    padding: 12px;
    text-align: center;
}
th {
    background-color: #4caf50; /* Verde más oscuro para el encabezado */
    color: white;
}

tbody {
    /* Define la altura máxima del cuerpo de la tabla para 5 filas */
    max-height: 200px; /* Ajusta este valor si tus filas son más altas o más bajas */
    overflow-y: auto; /* Habilita el scroll vertical */
    display: block; /* Importante para que overflow-y funcione */
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody tr:nth-child(even) {
    background-color: #e8f5e9; /* Filas pares con un tono de verde diferente */
}

tbody tr:hover {
    background-color: #c8e6c9; /* Efecto de hover en las filas */
}

h1 {
    color: #388e3c; /* Título en verde */
    text-align: center;
}

#chart_div {
    width: 100%;
}

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0fff0;
    padding: 20px;
}
/* #grafico_torta {
    width: 50%;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

#estandar_tamano {
    width: 50%;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* canvas {
    width: 50%;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */