.pie{
    box-sizing: border-box;
    background-color: #000000;
}

.logo-footer{
    display: flex;
    align-items: center;
}

.header-footer{
    background-color: #4caf50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 15px;
}



.derechos{
    background-color: #012202;
}

.header-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}

.derechos{
    display: flex !important;
    justify-content: space-around !important;

}

.karmaxcode-footer{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;

}

.karmaxcode-footer img{
    width: 90px;
    height: 60px;
    padding-right: 15px;
    
    
}

#text-footer{
    margin: 0;
    padding-top: 7px;
    padding-right: 10px;
    
}

.section-footer{
    display: flex;
    justify-content: space-evenly;
    gap: 40px !important;
    padding: 15px !important;
}

.section-footer div{
    display: flex;
    flex-direction: column;
}

.enlaces-footer{
    padding: 0 !important;
    margin: 0;
}

.input-suscribete{
    width: 100% !important;
}

#copyright{
    color: #e0e0e0;
    font-size: 0.6rem;
    text-align: justify;
    padding: 0 0%; /* Padding lateral para que no toque los bordes */
    max-width: 1000px;
    margin: 0 auto;
    line-height:40px;
}

#definition-footer{
    text-align: justify;
}

@media screen and (max-width: 550px) {
    
    .section-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .enlaces-footer{
        text-align: center;
    }


}