.pie{
    box-sizing: border-box;
    background-color: #000000;
}

.logo-footer{
    display: flex;
    align-items: center;
}

.header-footer{
    background-color: #4caf50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 15px;
}



.derechos{
    background-color: #012202;
}

.header-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}

.derechos{
    display: flex !important;
    justify-content: space-around !important;

}

.karmaxcode-footer{
    display: flex;
    padding-bottom: 20px;
    padding-left: 20px;

}

.karmaxcode-footer img{
    width: 260px;
    height: 100px;
    padding-right: 15px;
    
    
}

#text-footer{
    margin: 0;
    padding-top: 25px;
    padding-right: 10px;
    font-size: 1.5rem;
    
}

.section-footer{
    display: flex;
    justify-content: space-evenly;
    gap: 40px !important;
    padding: 15px !important;
}

.section-footer div{
    display: flex;
    flex-direction: column;
}

.enlaces-footer{
    padding: 0 !important;
    margin: 0;
}

.input-suscribete{
    width: 100% !important;
}

#copyright{
    color: #e0e0e0;
    font-size: 0.6rem;
    text-align: justify;
    padding: 0 0%; /* Padding lateral para que no toque los bordes */
    max-width: 1000px;
    margin: 0 auto;
    line-height:40px;
}

#definition-footer{
    text-align: justify;
}

@media screen and (max-width: 550px) {

    body{
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .section-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .enlaces-footer{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    
    .karmaxcode-footer img{
        width: 14rem;
        height: 6rem;
    }

    #text-footer{
        margin: 0;
        font-size: 2rem;
        padding-top: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .enlaces-footer-a{
        display: flex;
        text-align: center;
        font-size: 2rem;
    }

    .enlaces-footer-a a{
        font-size: 2.7rem;
        padding-top: 1rem;
    }

    .a-footer{
        padding: 0.5rem;
        padding-top: 1.5rem;
        font-size: 2rem;
    }

    .form-suscribete{
        padding: 1rem;
    }

    .karmaxcode-footer{
        display: flex;
        justify-content: center;
    }

    #copyright{
        font-size: 1.5rem;  
    }

    input{
        width: 15rem;
        height: 5rem;
    }

    .input-suscribete::placeholder {
        font-size: 1.05rem; /* Tamaño deseado */
    
    }

}