
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(7, 7, 7);
}

iframe {
    border: none;
    width: 80%;
    max-width: 800px;
    height: 450px;
}

h2.video {
    color: #0e0e0e; /* Color principal */
    font-size: 3rem; /* Tamaño de fuente más grande */
    text-align: center;
    padding: 2rem 1rem 0;
    font-weight: bold;
    background-color: rgb(6, 180, 73);
}
